<!--<div class="list-page-container" *ngIf="categories.length > 0">
    <div class="list-page-category-list" *ngFor="let category of categories">
        <span class="list-page-category-title">{{category.name}}</span>
        <div class="list-page-item-list" *ngIf="category.items.length > 0">
            <wiyc-navigation-card *ngFor="let item of category.items" [card]="item"></wiyc-navigation-card>-->
            <wiyc-navigation-card *ngFor="let item of items" [card]="item"></wiyc-navigation-card>
        <!--</div>
    </div>
</div>-->